<div class="form-ctn">
    <div class="logo-ctn">
        <img src="/assets/img/logo-ppal.svg" alt="Bruzzese-Noelia">
    </div>

    <form [formGroup]="form" (submit)="sendEmail()">
        <div style="display: flex; justify-content: center;">
            <p>REALIZÁ TU CONSULTA</p>
        </div>
        <br>

        <div class="input-ctn">
            <input type="text" placeholder="Nombre Completo">    
        </div>

        <br>

        <div class="input-ctn">
            <input type="text" placeholder="Correo Electrónico">    
            </div>

        <br>

        <div class="input-ctn">
            <input type="text" placeholder="N° de Teléfono">    
        </div>

        <br>

        <div class="input-ctn">
            <textarea placeholder="Consulta"></textarea>
        </div>   

        <br>
        
        <div class="send-btn-ctn">
            <button type="submit">ENVIAR</button>
        </div>    
    </form>
    
</div>
