<div class="form-ctn">
    <div class="logo-ctn">
        <img src="/assets/img/logo-ppal.svg" alt="Bruzzese-Noelia">
    </div>

    <form>
        <h2>REALIZÁ TU CONSULTA</h2>
    
        <div class="input-ctn">
            <input type="text" placeholder="Nombre Completo">    
        </div>

        <br>

        <div class="input-ctn">
            <input type="text" placeholder="Correo Electrónico">    
            </div>

        <br>

        <div class="input-ctn">
            <input type="text" placeholder="N° de Teléfono">    
        </div>

        <br>

        <div class="input-ctn">
            <textarea placeholder="Consulta"></textarea>
        </div>       
    </form>
    
</div>
