footer {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 16px;
    position: relative;
    bottom: 0;              
    width: 100%;
    z-index: 999;
    padding: 17px 15px;
    margin: 0;
    text-align: center;

    color: white;
    font-size: 13.6px;
    background: #2f3647;
}

p {
    margin: 0;
}

footer a {
    padding: 5px;
}

.bi-instagram, .bi-facebook {
    color: white;
    font-size: 23px;
}