<footer>
    <div class="redes-info">
        <a href="https://www.instagram.com/bruzzeseyasociados/?hl=es-es" target="_blank"><i class="bi bi-instagram"></i></a>
        <a href="https://www.facebook.com/profile.php?id=61563144503571" target="_blank"><i class="bi bi-facebook"></i></a>
        <a href="https://www.linkedin.com/in/estudio-jurídico-bruzzese-y-asociados/" target="_blank"><i class="bi bi-linkedin"></i></a>
    </div>

    <div class="footer-info">
        <div class="email">
            <p>bruzzeseyasociados&#64;gmail.com</p>
            <button (click)="linkCopy()" title="Copiar dirección">
                <i class="bi bi-copy"></i>
            </button>
        </div>

        <div>
            <p>2024 - Bruzzese Noelia - Estudio Jurídico</p>
        </div>
    </div>
</footer>
