footer {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 16px;
    position: sticky;       /* position sticky y top 100 para acomodar siempre abajo de todo */
    top: 100%;             
    width: 100%;
    z-index: 999;
    padding: 17px 15px;
    margin: 0;
    text-align: center;

    color: white;
    font-size: 13.6px;
    background: #2f3647;
}

p {
    margin: 0;
    overflow-wrap: anywhere;
}

footer a {
    padding: 5px;
}

.email button {
    background-color: unset;
    border-style: none;
}

.email button i {
    font-size: 20px;
    padding: 3px;
    color: white;
    border-radius: 7px;
    transition: all ease 0.3s;
}

.email button:hover i {
    cursor: pointer;
    color: #e5bb8c;
}

.bi-instagram, .bi-facebook {
    color: white;
    font-size: 23px;
}

.footer-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.email {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}