header {
    display: flex;
    flex-direction: column;
}

/* Logo y botones principales */

.head-tools {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    gap: 44px;
    background-color: #2f3647;
}

.logo-ctn {
    display: flex;
    gap: 15px;
}

.buttons-ctn {
    display: flex;
    gap: 40px;
}

.buttons-ctn button {
    padding: 0 5px 0 5px;
}