<header>
    <div class="head-tools">
        <div class="logo-ctn">
            <img onclick="window.location.replace('/home');" src="/assets/img/logo-ppal.svg" alt="Bruzzese-Noelia">
        </div>
        <div class="buttons-ctn">
            <button onclick="window.location.replace('/home');" class="home-areas-btn">INICIO</button>
            <button onclick="window.location.replace('/app-areas-page');" class="home-areas-btn">ÁREAS</button>
            <button (click)="navigateToSendEmail()" class="contact-btn">CONTACTO</button>
        </div>
    </div>
</header>
