/* Logo y botones principales */

.head-tools {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

.logo-ctn {
    display: flex;
    justify-content: center;
}

.logo-ctn img {
    width: 34%;
    cursor: pointer;
}

.buttons-ctn {
    display: flex;
    gap: 17px;
}

.buttons-ctn button {
    height: 35px;
    width: 97px;
    padding: 0 5px 0 5px;
    letter-spacing: 1px;
    
    white-space: nowrap;
    border: unset;
    font-weight: bold;

    cursor: pointer;
}

.home-areas-btn {
    background-color: white;
    color: #000000ab;
    transition: all 0.05s ease;
}

.buttons-ctn .home-areas-btn:hover {
    border-bottom: 3px solid #e5bb8c;
}

.contact-btn {
    background-color: #e5bb8c;
    color: white;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.contact-btn:hover {
    background-color: #f1c695;
}

@media (max-width: 700px) {

    .head-tools {
        flex-direction: column;
        gap: 15px;
    }

    .logo-ctn {
        display: none;
    }
}