<div class="h2-ctn">
    <h2>ÁREAS</h2>
</div>

<div class="ctn">

    <div class="cards" *ngFor="let area of areas; let i = index" [ngClass]="{ 'flipped': flippedIndex === i }">

        <div class="card-front" [ngClass]="{'front-rotate': flippedIndex === i}">
            <h2>{{ area.title }}</h2>
            <div class="img-ctn" [innerHTML]="area.image"></div> <img src="" alt="">
            <div class="btn-ctn-front">
                <button (click)="toggleCard(i)">Información</button>
            </div>
        </div>
    
        <div class="card-back" [ngClass]="{'back-rotate': flippedIndex === i}">
            <h2>{{ area.title }}</h2>
            <ul [innerHTML]="area.description"></ul>
            <div class="btn-ctn-back">
                <button (click)="toggleCard(i)">Volver</button>
            </div>
        </div>
        
    </div>

</div>

