<div class="h2-ctn">
    <h2>ÁREAS</h2>
</div>

<div class="ctn">

    <div class="cards" *ngFor="let area of areas">

        <div class="card-front">
            <h2>{{ area.title }}</h2>
            <p>{{ area.description }}</p>
            <div class="btn-ctn">
                <button>Ver más</button>
            </div>
        </div>
    
        <div class="card-back">
            <h2>lalalalala</h2>
            <p>
                ATRAS
            </p>
            <div class="btn-ctn">
                <button>Ver más</button>
            </div>
        </div>
        
    </div>

</div>

