<h2>ÁREAS</h2>
<div class="ctn">

    <div class="card">
        <h2>Derecho Administrativo</h2>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            In quos laboriosam ratione animi, hic perferendis ex reprehenderit 
        </p>
        <div class="btn-ctn">
            <button>Ver más</button>
        </div>
    </div>

    <div class="card">
        <h2>Derecho Administrativo</h2>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            In quos laboriosam ratione animi, hic perferendis ex reprehenderit 
        </p>
        <div class="btn-ctn">
            <button>Ver más</button>
        </div>
    </div>

    <div class="card">
        <h2>Derecho Administrativo</h2>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            In quos laboriosam ratione animi, hic perferendis ex reprehenderit 
        </p>
        <div class="btn-ctn">
            <button>Ver más</button>
        </div>
    </div>

</div>

<!-- Segunda línea de áreas -->

<div class="ctn">

    <div class="card">
        <h2>Derecho Administrativo</h2>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            In quos laboriosam ratione animi, hic perferendis ex reprehenderit 
        </p>
        <div class="btn-ctn">
            <button>Ver más</button>
        </div>
    </div>

    <div class="card">
        <h2>Derecho Administrativo</h2>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            In quos laboriosam ratione animi, hic perferendis ex reprehenderit 
        </p>
        <div class="btn-ctn">
            <button>Ver más</button>
        </div>
    </div>

    <div class="card">
        <h2>Derecho Administrativo</h2>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            In quos laboriosam ratione animi, hic perferendis ex reprehenderit 
        </p>
        <div class="btn-ctn">
            <button>Ver más</button>
        </div>
    </div>

</div>
