<div class="top-info-ctn">
    <div class="top-info-left">
        <div class="info">
            <a href="#" target="_blank"><img src="../../assets/icons/facebook.svg" class="iconosFooter" alt="instagram-icon"></a>
            <a href="#" target="_blank"><img src="../../assets/icons/instagram.svg" class="iconosFooter" alt="facebook-icon"></a>
        </div>
    </div>  
    <div class="top-info-right">
        <div class="info">
            <p>ICONO</p>
            <p>156465464</p>
        </div>
        <div class="info">
            <p>ICONO</p>
            <p>noelia_mail&#64;gmail.com</p>
        </div>
        <div class="info">
            <p>ICONO</p>
            <p>Sarmiento 1946</p>
        </div>
    </div> 
</div> 
