<div class="top-info-ctn">
    <div class="top-info-left">
        <div class="info">
            <a href="https://www.instagram.com/bruzzeseyasociados/?hl=es-es" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="https://www.facebook.com/profile.php?id=61563144503571" target="_blank"><i class="bi bi-facebook"></i></a>
        </div>
    </div>  
    <div class="top-info-right">
        <div class="info">
            <mat-icon>phone_android</mat-icon>
            <p>1127905655</p>
        </div>
        <div class="info" style="gap: 5px;">
            <mat-icon>mail</mat-icon>
            <p>bruzzeseyasociados&#64;gmail.com</p>
        </div>
        <div class="info">
            <mat-icon>location_on</mat-icon>
            <p>Tribunales, CABA</p>
        </div>
    </div> 
</div>
