<div class="top-info-ctn">
    <div class="top-info-left">
        <div class="info">
            <a href="#" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="#" target="_blank"><i class="bi bi-facebook"></i></a>
        </div>
    </div>  
    <div class="top-info-right">
        <div class="info">
            <mat-icon>phone_android</mat-icon>
            <p>11-2790-5655</p>
        </div>
        <div class="info" style="gap: 5px;">
            <mat-icon>mail</mat-icon>
            <p>bruzzeseyasociados&#64;gmail.com</p>
        </div>
        <div class="info">
            <mat-icon>location_on</mat-icon>
            <p>Tribunales, CABA</p>
        </div>
        <button [routerLink]="'/home/top-info'">CAMBIAR COMPONENTE</button>
        <button [routerLink]="'/home'">HOME</button>
    </div> 
</div>
