i {
    display: flex;
    position: fixed;
    bottom: 94px;
    right: 10px;
    z-index: 1000;
    margin: 0 5px 0 5px;
    padding: 12px;
    border-radius: 50%;
    background-color: #ffffff94;
    color: green;
    font-size: 35px;
    transition: all ease 0.3s;
}

i:hover {
    cursor: pointer;
    color: #e5bb8c;
    background-color: #2f3647;
}